<div class='quantity'>
  <p>My Cart: {{ cartCount }}</p>
  <a ng-href="/">Go to Shop</a>
  <p>Total = {{ total | money}}</p>
</div>
<div class='container' ng-show='!(myCart.length >= 1)'>
  <h3>Your cart is empty. Go to the <a href="/">shop</a></h3>
</div>
<div ng-repeat='product in myCart track by $index' class='container'>
  <div class='left'>
    <img ng-src="{{ product.imageUrl }}" alt="">
  </div>
  <div class='right'>
    <h3>{{ product.name }}</h3>
    <p>{{ product.ingredients }}</p>
    <p>{{ product.price | money }}</p>
    <p ng-show='!showUpdate'>Quantity: {{ product.quantity}}</p>
    <div ng-show='showUpdate'>
      <label for="quantity">Quantity</label>
      <select name="quantity" ng-model='product.quantity'>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <button ng-click='removeCart(product)'>Remove</button>
    <button ng-click='toggleUpdate()'>Update</button>
  </div>
</div>
